/*====================================================================================================
=====                                                                                          =======
=====               Este site foi feito por "Lucas Oliveira"                                   =======
=====               Telefone (Whatsapp): (82) 98878-5978                                       =======
=====               Instagram: @lucasoliveirawd                                                =======
=====               E-mail: lukasforever02@gmail.com                                           =======
=====                                                                                          =======
=====================================================================================================*/

@keyframes rotate{
    0%{transform: rotate(0);} 50%{transform: rotate(180deg);} 100%{transform: rotate(360deg);}
}

@keyframes growX{
    0%{
        transform: scaleX(0);
    }
    100%{
        transform: scaleX(1);
    }
}

@keyframes fadeIn{
    from{
        visibility: hidden;
        opacity: o;
    } to{
        visibility: visible;
        opacity: 1;
    }}
    
@keyframes fadeOut{
    from{
        visibility: visible;
        opacity: 1;
    } to{
        visibility: hidden;
        opacity: 0;
    }}