#section-dicas{
    width: 100%;
    height: 70rem;
    background: #eee;
    margin: 5rem 0 2rem;
}

#section-dicas .container{
    display: flex;
}

.dicas-right{
    flex: 2;
}

.dicas-right h1{
    color: #777777;
    margin: 2rem 1rem 0;
}

.dicas-item{
    height: 15rem;
    margin: 2rem 0;
}


.ebooks{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background: #ccc;
    margin: 0 0 0 2rem;
}

.ebooks-title h4{
    color: var(--color-primary-lighter);
    border-bottom: .3rem  solid #aaa;
    padding: 0 4.5rem;
    margin-bottom: 1rem
}

.ebooks-title label{
  color: #888;
}

.ebooks-title #filtebbok{
    float: left;
    margin: 0 .3rem 0 1rem;
    border: none;
    padding: .1rem .3rem;
    font-family: var(--font-action);
    color: #444;
}

.ebook{
    position: relative;
    height: 12rem;
    width: 8rem;
    margin: 0 1rem 0;
}

.ebook .img-wrapper{
    position: absolute;
    width: 100%;
    height: 100%;
}

.ebook span{
    position: absolute;
    z-index: 15;
    padding: .1rem .5rem;
    font: normal normal 500 .8rem/1rem var(--font-action);
    max-width: 3.5rem;
    background: var(--color-secundary-darker);
    text-align: center;
    border-radius: .2rem;
    bottom: 2.2rem;
    left: 1rem;
    display: none;
    text-align: center;
}

.ebook:hover span{
    display: block;
}

.ebook span::after{
    content: '';
    border-top: .5rem solid var(--color-secundary-darker);
    border-left: .5rem solid transparent;
    border-right: .5rem solid transparent;
    border-bottom: .5rem solid transparent;
    position: relative;
    bottom: -1.6rem;
    right: 1rem
}

/*            button-baixar-ebook                    */

.ebook button{
    z-index: 22;
    position: absolute;
    bottom: 0;
    margin: 0 auto;
    padding: .2rem 3.4rem;
    margin: .3rem .2rem;
    transition: all.2s;
}
.ebook button:hover{
    color: var(--color-secundary-darker);
    transition: all .2s;
}