/*====================================================================================================
=====                                                                                          =======
=====               Este site foi feito por "Lucas Oliveira"                                   =======
=====               Telefone (Whatsapp): (82) 98878-5978                                       =======
=====               Instagram: @lucasoliveirawd                                                =======
=====               E-mail: lukasforever02@gmail.com                                           =======
=====                                                                                          =======
=====================================================================================================*/

#section-presents{
    height: 48rem;
    padding: 2rem;
    background: var(--color-primary);
}

#section-presents .container{
    position: relative;
}

.desc h2{
    color: #fff;
}

.desc p{
    color: #fff;
}

.desc p:nth-child(3), .desc p:nth-child(4), .desc p:nth-child(5){
    max-width: 41rem;
}

.logo-presents{
    max-width: 20rem;
    max-height: 25;
    position: absolute;
    top: 0;
    right: 0;
}

.met-eq{
    display: flex;
    justify-content: space-between;
    max-width: 50rem;
    margin: 0 auto;
    background-color: var(--color-primary);
}

.bannertitle{
    margin: 0 auto 3rem;
    color: #eee;
}

.met-eq-item{
    min-width: 6rem;
    max-width: 11rem;
    max-height: 7rem;
}

.banner5{
    background-color: var(--color-primary);
    padding-bottom: 2rem;
}

.banner5 .desc-full{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 20rem;
    max-width: 50rem;
    margin: 2rem auto;
}

.desc-team{
    flex: 1;
    max-width: 18rem;
    height: 100%;
    position: relative;
    text-align: center;
}

.banner5 .desc-team .img-wrapper{
    background: #999;
    width: 5rem;
    height: 5rem;
    border-radius: 5rem;
    margin: 0 auto;
}

.banner5 .desc-team:nth-child(1) .img-wrapper{
    background: url(../img/foto-fel.jpg) center;
    background-size: 17vmin;
    background-position: center -2.5px;
}

.banner5 .desc-team:nth-child(2) .img-wrapper{
    background: url(../img/foto-dam.jpg) center;
    background-size: 17vmin;
    background-position: center -2.5px;
}

.banner5 .desc-team:nth-child(3) .img-wrapper{
    background: url(../img/foto-ric.jpg) center;
    background-size: 17vmin;
    background-position: center -2.5px;
}

.desc-team h6{
    text-transform: capitalize;
    position: absolute;
    top: 5.5rem;
    width: 100%;
    color: #ddd;
    font-size: .8rem;
}

.desc-team h4{
    width: 100%;
    position: absolute;
    top: 8rem;
    color: #bbb;
    font-size: 1rem;
}

.desc-team .social-media{
    position: absolute;
    top: 15rem;
    width: 100%;
    display: flex;
    justify-content: center;
}

.desc-full .social-media i{
    margin: 0 .4rem;
    color: var(--color-primary);
    font-size: 1.2rem;
    transition: all .2s;
    color: #fff;
}

.desc-full .social-media i:hover{
    color: var(--color-primary-lighter);
    transform: scale(1.05);
}

.banner-efect-frase p{
    color: #ccc;
    text-align: right;
}

.banner-efect-frase p:nth-child(1){
    font-size: 1.2rem;
}
