#section-fin-hab{
    height: 200vh;
    overflow: hidden;
}

#section-fin-hab .container{
    display: flex;
    flex-direction: row;
}

.fin-hab-right{
    flex: 2;
    display:flex;
    flex-direction: column;
}

.finab-inf{
    flex: 1;
}


#aside-fin-hab{
    flex: 1;
    height: 100%;
    background: #ddd;
    object-fit: cover;
}