/*====================================================================================================
=====                                                                                          =======
=====               Este site foi feito por "Lucas Oliveira"                                   =======
=====               Telefone (Whatsapp): (82) 98878-5978                                       =======
=====               Instagram: @lucasoliveirawd                                                =======
=====               E-mail: lukasforever02@gmail.com                                           =======
=====                                                                                          =======
=====================================================================================================*/

footer{
    background-color: #1e1e1e;
    display: flex;
    justify-content: center;
}
.footermenu{
    display: flex;
    flex: 1;
}
.fm1, .fm2, .fm3{
    flex: 1;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}
.footermenu .fm1{
    background-color: #6eff45;
}
.footermenu .fm2{
    background-color: #3ed715;
}
.footermenu .fm3{
    background-color: #0ea700;
}
.footermenu img{
    width: 30px;
}
.footerarea{
    display: flex;
    justify-content: space-between;
    flex: 1;
}
.footerareaitem{
    flex: 1;
    color: #fff;
}
footer .widgettitletext{
    color: #fff;
    font-size: 40px;
}
footer .corporight{
    border-top: 1px solid #2c2c2c;
    height: 40px;
    line-height: 40px;
    color: #5c5c5c;
    font-size: 12px;
    margin-top: 30px;
}