#sectio-projetos-menu .container{
    max-width: none;
    width: 100%;
    margin: 0;
    background: #f4f4f4;
}

#sectio-projetos-menu nav{
    width: inherit;
}

.menuprojetos{
    list-style: none;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding: 0 5rem;
    height: 15rem;
    overflow: hidden;
}

.menuprojetos .menuproj-item{
    flex: 1;
    cursor: pointer;
    padding: 4rem 0 0 0;
    transition: all 1s;
}

.menuproj-item:hover{
    background: #ddd;
}

.menuprojetos .fundoimgprojetos{
border-radius: 2.5rem;
width: 5rem;
height: 5rem;
padding: 0;
transition: all ease 500ms;
margin: 0 auto;
}

.menuprojetos #projetosimg1{
    background-color: var(--color-proj-1);
    transition: all ease 500ms;
}
.menuprojetos #projetosimg2{
    background-color: var(--color-proj-2);
    transition: all ease 500ms;
}
.menuprojetos #projetosimg3{
    background-color: var(--color-proj-3);
    transition: all ease 500ms;
}
.menuprojetos #projetosimg4{
    background-color: var(--color-proj-4);
    transition: all ease 500ms;
}
.menuprojetos #projetosimg5{
    background-color: var(--color-proj-5);
    transition: all ease 500ms;
}
.menuprojetos #projetosimg6{
    background-color: var(--color-proj-6);
    transition: all ease 500ms;
}
.menuprojetos #projetosimg7{
    background-color: #d52f23;
    border: solid #000 10px;
    transition: all ease 500ms;
}

.menuprojetos #projetosimg8{
    background-color: var(--color-proj-8);
    transition: all ease 500ms;
}

.menuprojetos h2{
    font-size: .8rem;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 1px 1px 0 #3e3e3e;
    transition: all ease 500ms;
    cursor: pointer;
}

.menuprojetos #h1{
    color: var(--color-proj-1);
}
.menuprojetos #h2{
    color: var(--color-proj-2);
}
.menuprojetos #h3{
    color: var(--color-proj-3);
}
.menuprojetos #h4{
    color: var(--color-proj-4);
}
.menuprojetos #h5{
    color: var(--color-proj-5);
}
.menuprojetos #h6{
    color: var(--color-proj-6);
}
.menuprojetos #h7{
    color: var(--color-proj-7);
}
.menuprojetos #h8{
    color: var(--color-proj-8);
}

/*     barra que se modifica       */

.menuproj-item .menu-proj-bar{
    width: 6rem;
    height: .2rem;
    display: none;
    margin: 1rem 1.5rem 0;
}

.menuproj-item .menu-proj-bar .menu-proj-bar-content{
    flex: 1;
    transition: all 1s;
}

.menuproj-item:hover .menu-proj-bar{
    display: flex;
    animation: growX 1s;
}

.menuproj-item:nth-child(1):hover .menu-proj-bar .menu-proj-bar-content{
    background: var(--color-proj-1);
}

.menuproj-item:nth-child(2):hover .menu-proj-bar .menu-proj-bar-content{
    background: var(--color-proj-2);
}

.menuproj-item:nth-child(3):hover .menu-proj-bar .menu-proj-bar-content{
    background: var(--color-proj-3);
}

.menuproj-item:nth-child(4):hover .menu-proj-bar .menu-proj-bar-content{
    background: var(--color-proj-4);
}

.menuproj-item:nth-child(5):hover .menu-proj-bar .menu-proj-bar-content{
    background: var(--color-proj-5);
}

.menuproj-item:nth-child(6):hover .menu-proj-bar .menu-proj-bar-content{
    background: var(--color-proj-6);
}

.menuproj-item:nth-child(7):hover .menu-proj-bar .menu-proj-bar-content{
    background: var(--color-proj-7);
}

.menuproj-item:nth-child(8):hover .menu-proj-bar .menu-proj-bar-content{
    background: var(--color-proj-8);
}

/*====================================================================================
                borda inferior que mudará de cor
=====================================================================================*/

#menu-proj-bar-bottom{
    display: block;
    height: 1rem;
    width: 80vw;
    margin: 0 auto 2rem;
    border-bottom-right-radius: 80%;
    border-bottom-left-radius: 80%;
    transition: background 1s;
}

/*==================================================================
                show-proj-arq
====================================================================*/

.show-proj-arq .menuproj-item:first-child{
    position: relative;
    transform: scale(1.4);
    background: #ddd;
}

.show-proj-arq .menuproj-item:first-child .menu-proj-bar-content{
    background: var(--color-proj-1);
}

.show-proj-arq .menuproj-item:first-child .menu-proj-bar{
    display: flex;
}

.show-proj-arq .menuproj-item:first-child .bar-content-1{
    transform: rotate(-25deg) translate(.3rem,-.1rem);
}

.show-proj-arq .menuproj-item:first-child .bar-content-2{
    transform: rotate(25deg) translate(-.3rem,-.1rem);
}

.show-proj-arq #menu-proj-bar-bottom{
    background: var(--color-proj-1)
}

/*==================================================================
                show-proj-hidro
====================================================================*/

.show-proj-hidro .menuproj-item:nth-child(2){
    position: relative;
    transform: scale(1.4);
    background: #ddd;
}

.show-proj-hidro .menuproj-item:nth-child(2) .menu-proj-bar-content{
    background: var(--color-proj-2);
}

.show-proj-hidro .menuproj-item:nth-child(2) .menu-proj-bar{
    display: flex;
}

.show-proj-hidro .menuproj-item:nth-child(2) .bar-content-1{
    transform: rotate(-25deg) translate(.3rem,-.1rem);
}

.show-proj-hidro .menuproj-item:nth-child(2) .bar-content-2{
    transform: rotate(25deg) translate(-.3rem,-.1rem);
}

.show-proj-hidro #menu-proj-bar-bottom{
    background: var(--color-proj-2)
}

/*==================================================================
                show-proj-hidra
====================================================================*/

.show-proj-hidra .menuproj-item:nth-child(3){
    position: relative;
    transform: scale(1.4);
    background: #ddd;
}

.show-proj-hidra .menuproj-item:nth-child(3) .menu-proj-bar-content{
    background: var(--color-proj-3);
}

.show-proj-hidra .menuproj-item:nth-child(3) .menu-proj-bar{
    display: flex;
}

.show-proj-hidra .menuproj-item:nth-child(3) .bar-content-1{
    transform: rotate(-25deg) translate(.3rem,-.1rem);
}

.show-proj-hidra .menuproj-item:nth-child(3) .bar-content-2{
    transform: rotate(25deg) translate(-.3rem,-.1rem);
}

.show-proj-hidra #menu-proj-bar-bottom{
    background: var(--color-proj-3)
}

/*==================================================================
                show-proj-combinc
====================================================================*/

.show-proj-combinc .menuproj-item:nth-child(4){
    position: relative;
    transform: scale(1.4);
    background: #ddd;
}

.show-proj-combinc .menuproj-item:nth-child(4) .menu-proj-bar-content{
    background: var(--color-proj-4);
}

.show-proj-combinc .menuproj-item:nth-child(4) .menu-proj-bar{
    display: flex;
}

.show-proj-combinc .menuproj-item:nth-child(4) .bar-content-1{
    transform: rotate(-25deg) translate(.3rem,-.1rem);
}

.show-proj-combinc .menuproj-item:nth-child(4) .bar-content-2{
    transform: rotate(25deg) translate(-.3rem,-.1rem);
}

.show-proj-combinc #menu-proj-bar-bottom{
    background: var(--color-proj-4)
}

/*==================================================================
                show-proj-elet
====================================================================*/

.show-proj-elet .menuproj-item:nth-child(5){
    position: relative;
    transform: scale(1.4);
    background: #ddd;
}

.show-proj-elet .menuproj-item:nth-child(5) .menu-proj-bar-content{
    background: var(--color-proj-5);
}

.show-proj-elet .menuproj-item:nth-child(5) .menu-proj-bar{
    display: flex;
}

.show-proj-elet .menuproj-item:nth-child(5) .bar-content-1{
    transform: rotate(-25deg) translate(.3rem,-.1rem);
}

.show-proj-elet .menuproj-item:nth-child(5) .bar-content-2{
    transform: rotate(25deg) translate(-.3rem,-.1rem);
}

.show-proj-elet #menu-proj-bar-bottom{
    background: var(--color-proj-5)
}

/*==================================================================
                show-proj-est
====================================================================*/

.show-proj-est .menuproj-item:nth-child(6){
    position: relative;
    transform: scale(1.4);
    background: #ddd;
}

.show-proj-est .menuproj-item:nth-child(6) .menu-proj-bar-content{
    background: var(--color-proj-6);
}

.show-proj-est .menuproj-item:nth-child(6) .menu-proj-bar{
    display: flex;
}

.show-proj-est .menuproj-item:nth-child(6) .bar-content-1{
    transform: rotate(-25deg) translate(.3rem,-.1rem);
}

.show-proj-est .menuproj-item:nth-child(6) .bar-content-2{
    transform: rotate(25deg) translate(-.3rem,-.1rem);
}

.show-proj-est #menu-proj-bar-bottom{
    background: var(--color-proj-6)
}

/*==================================================================
                show-proj-inf
====================================================================*/

.show-proj-inf .menuproj-item:nth-child(7){
    position: relative;
    transform: scale(1.4);
    background: #ddd;
}

.show-proj-inf .menuproj-item:nth-child(7) .menu-proj-bar-content{
    background: var(--color-proj-7);
}

.show-proj-inf .menuproj-item:nth-child(7) .menu-proj-bar{
    display: flex;
}

.show-proj-inf .menuproj-item:nth-child(7) .bar-content-1{
    transform: rotate(-25deg) translate(.3rem,-.1rem);
}

.show-proj-inf .menuproj-item:nth-child(7) .bar-content-2{
    transform: rotate(25deg) translate(-.3rem,-.1rem);
}

.show-proj-inf #menu-proj-bar-bottom{
    background: var(--color-proj-7)
}

/*==================================================================
                show-proj-spda
====================================================================*/

.show-proj-spda .menuproj-item:nth-child(8){
    position: relative;
    transform: scale(1.4);
    background: #ddd;
}

.show-proj-spda .menuproj-item:nth-child(8) .menu-proj-bar-content{
    background: var(--color-proj-8);
}

.show-proj-spda .menuproj-item:nth-child(8) .menu-proj-bar{
    display: flex;
}

.show-proj-spda .menuproj-item:nth-child(8) .bar-content-1{
    transform: rotate(-25deg) translate(.3rem,-.1rem);
}

.show-proj-spda .menuproj-item:nth-child(8) .bar-content-2{
    transform: rotate(25deg) translate(-.3rem,-.1rem);
}

.show-proj-spda #menu-proj-bar-bottom{
    background: var(--color-proj-8)
}
