/*====================================================================================================
=====                                                                                          =======
=====               Este site foi feito por "Lucas Oliveira"                                   =======
=====               Telefone (Whatsapp): (82) 98878-5978                                       =======
=====               Instagram: @lucasoliveirawd                                                =======
=====               E-mail: lukasforever02@gmail.com                                           =======
=====                                                                                          =======
=====================================================================================================*/

#sectio-projetos-menu .container{
    max-width: none;
    width: 100%;
    margin: 0;
    background: #f4f4f4;
}

#sectio-projetos-menu nav{
    width: inherit;
}

.menuprojetos{
    list-style: none;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0 5rem;
    height: 12.3rem;
    overflow: hidden;
}

.menuprojetos .menuproj-item{
    cursor: pointer;
    padding: 2rem 0 0 0;
    transition: all 1s;
    min-width: 9rem;
}

.menuproj-item:hover{
    background: #ddd;
}

.menuprojetos .fundoimgprojetos{
width: 5rem;
height: 5rem;
padding: 0;
transition: all 500ms;
margin: 0 auto;
}

.menuprojetos h2{
    font-size: .7rem;
    text-align: center;
    text-transform: uppercase;
    transition: all 500ms;
    cursor: pointer;
    margin-top: 1rem;
}

.menuprojetos h2{
    color: #222;
}

/*     barra que se modifica       */

.menuproj-item .menu-proj-bar{
    width: 6rem;
    height: .2rem;
    display: flex;
    margin: 1rem auto 0;
    opacity: 0;
    transition: all .5s;
}

.menuproj-item .menu-proj-bar .menu-proj-bar-content{
    flex: 1;
    transition: all .5s;
}

.menuproj-item:hover .menu-proj-bar{
    opacity: 1;
}

.menuproj-item:hover .menu-proj-bar .menu-proj-bar-content{
    background: #222;
}

/*====================================================================================
                borda inferior que mudará de cor
=====================================================================================*/

#menu-proj-bar-bottom{
    display: block;
    height: 1rem;
    width: 80vw;
    margin: 0 auto 2rem;
    border-bottom-right-radius: 80%;
    border-bottom-left-radius: 80%;
    transition: background 1s;
    background-color: #696969;
}

/*==================================================================
                show-proj-arq
====================================================================*/

.show-proj-arq .menuproj-item:first-child, .show-proj-est .menuproj-item:nth-child(2),
.show-proj-hidro .menuproj-item:nth-child(3), .show-proj-elet .menuproj-item:nth-child(4),
.show-proj-combinc .menuproj-item:nth-child(5),.show-proj-spda .menuproj-item:nth-child(6){
    position: relative;
    transform: scale(1.4);
    background: #dddddd60;
}

.show-proj-arq .menuproj-item:first-child .menu-proj-bar,
.show-proj-est .menuproj-item:nth-child(2) .menu-proj-bar,
.show-proj-hidro .menuproj-item:nth-child(3) .menu-proj-bar,
.show-proj-elet .menuproj-item:nth-child(4) .menu-proj-bar,
.show-proj-combinc .menuproj-item:nth-child(5) .menu-proj-bar,
.show-proj-spda .menuproj-item:nth-child(6) .menu-proj-bar{
    opacity: 1;;
}
