/*====================================================================================================
=====                                                                                          =======
=====               Este site foi feito por "Lucas Oliveira"                                   =======
=====               Telefone (Whatsapp): (82) 98878-5978                                       =======
=====               Instagram: @lucasoliveirawd                                                =======
=====               E-mail: lukasforever02@gmail.com                                           =======
=====                                                                                          =======
=====================================================================================================*/

.place-hoder-proj-desc{
    height: 80rem;
    width: 100%;
}
.projetoscorpo{
    height: 80rem;
    display: none;
}

.projetoscorpo .projetoscorpocentral{
    flex: 2;
    margin: 0 3rem 0 0;
    overflow: hidden;
    transition: all 1s;
}

.projetoscorpocentral .title-with-bar{
    margin-bottom: 2.5rem;
    transition: all 1s;
}

.projetoscorpocentral h2{
    font: normal normal 700 2rem/2.5rem var(--font-primary);
    margin: 0 0 .8rem 0;
    color: #545551
}

.projetoscorpocentral h3{
    margin: 1.4rem 0 0;
    color: #545551
}

.projetoscorpocentral .title-bar{
    height: .5rem;
    background: #aaa;
    width: 12rem;
    border-radius: .3rem;
    transition: all 1s;
}

.projetoscorpocentral p{
    overflow: hidden;
    margin: 1rem 0 0 0;
    text-indent: 4rem;
    text-align: justify;

}

.projetoscorpocentral button{
    width: 27rem;
    margin: 3rem 5rem 0;
}


.projetoscorpo aside{
    flex: 1;
    flex-wrap: wrap;
}
.projetoscorpo aside .asidesquare{
    height: 15rem;
    width: 100%;
    background-color: #ccc;
    margin: 3rem 0;
}

/*=================================================================================================================
                                    show-proj-arq
===================================================================================================================*/
.show-proj-arq #secarq,.show-proj-est #secest, .show-proj-hidro #sechidro,
.show-proj-elet #secelet, .show-proj-combinc #seccomb, .show-proj-spda #secspda,
.show-proj-orc #secorc{
    display: block;
}

.show-proj-arq .place-hoder-proj-desc, .show-proj-hidro .place-hoder-proj-desc,
.show-proj-est .place-hoder-proj-desc, .show-proj-elet .place-hoder-proj-desc,
.show-proj-combinc .place-hoder-proj-desc, .show-proj-spda .place-hoder-proj-desc,
.show-proj-orc .place-hoder-proj-desc{
    display: none;
}

.show-proj-arq .title-with-bar{
    animation: fadeIn 1s 1s forwards;
}

.show-proj-arq .projetoscorpocentral{
    animation: fadeIn 1s forwards;
}

.show-proj-arq .title-bar{
    animation: fadeIn 1s 1s forwards;
}