/*====================================================================================================
=====                                                                                          =======
=====               Este site foi feito por "Lucas Oliveira"                                   =======
=====               Telefone (Whatsapp): (82) 98878-5978                                       =======
=====               Instagram: @lucasoliveirawd                                                =======
=====               E-mail: lukasforever02@gmail.com                                           =======
=====                                                                                          =======
=====================================================================================================*/

#section-msg{
    background: var(--color-primary);
    margin-top: 2rem;
    position: relative;
    height: 40rem;
}

#section-msg .container{
    display: flex;
    align-items: center;
    justify-content: center;
}

#section-msg form{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
}

#section-msg h2{
    color: var(--color-secundary);
}

#section-msg .title{
    display:flex;
    justify-content: center;
    margin:0;
    width: 100%;
    align-items: center;
}

#section-msg .title-bar{
    height: .2rem;
    width: 25rem;
    border-radius: 80%;
    margin: 0;
}

.form-item{
    display: flex;
    flex-direction: column;
    padding: 0 1.5rem;
    position: relative;
    min-width: 50%;
}

.form-item:nth-child(6){
    width: 100%;
}

.form-item input{
    border:.07rem solid var(--color-primary);
    margin-top:.5rem;
    font: normal normal 400 1rem/1.3rem var(--font-secundary);
    width: 100%;
}

.form-item input[type='email']{
    background: #fff url(../img/icon-email.png) no-repeat scroll .5rem;
    background-size: 4%;
    padding-left: 2rem;
}

.form-item:nth-child(2) input[type='text']{
    background: #FFF url(../img/icon-persona-c.png) no-repeat scroll .5rem;
    background-size: 4%;
    padding-left: 2rem;
}

.form-item:nth-child(3) input[type='text']{
    background: #fff url(../img/icon-tel-c.png) no-repeat scroll .5rem;
    background-size: 4%;
    padding-left: 2rem;
}

.form-item input:focus{
    border:.07rem solid var(--color-secundary);
}

.form-item select{
    width: 40%;
    margin-top: .5rem;
    border:.07rem solid var(--color-primary);
}

.form-item textarea{
    margin-top: .5rem;
    max-width: 100%;
    min-width: 100%;
    border:.07rem solid var(--color-primary);
    max-height: 5rem;
    min-height: 5rem;
    padding: .2rem .5rem;
    font: normal normal 400 1rem/1.3rem var(--font-secundary);
}

.form-item textarea:focus{
    border:.07rem solid var(--color-secundary);
}



#button-form-contato{
    margin: 0 1.5rem;
    background: linear-gradient(to top, var(--color-secundary),var(--color-secundary-lighter));
    color: #fff;
    font: normal normal 600 1rem/1rem var(--font-action);
    text-transform: uppercase;
    letter-spacing: 1px;
    width: 40%;
    max-height: 2.8rem;
    cursor: pointer;
}

#button-form-contato:hover{
    background: linear-gradient(to top, var(--color-secundary-darker),var(--color-secundary));
}

.form-item label{
    font:normal normal 400 1rem/1rem var(--font-secundary)
}

#span-whats{
    position: absolute;
    background: var(--color-secundary-darker);
    border-radius: .4rem;
    left: 8rem;
    top:-3rem;
    padding:.3rem .5rem;
    display: none;
}

#span-whats::after{
    content: '';
    position: absolute;
    border-top: 1rem solid var(--color-secundary-darker);
    border-right: 1rem solid transparent;
    border-left: 1rem solid transparent;
    border-bottom: 1rem solid transparent;
    top: 2.8em;
    right: 12rem;
}

#span-whats p{
    color: #fff;
    font: normal normal 500 1rem/1.3rem var(--font-action);
}

#span-whats i{
    font-size: 1.5rem;
    font-weight: bolder;
    color: #fff;
}

input:focus ~ #span-whats{
    display: block;
}



.widgetplayer{
    padding-top: 20px;
}