/*====================================================================================================
=====                                                                                          =======
=====               Este site foi feito por "Lucas Oliveira"                                   =======
=====               Telefone (Whatsapp): (82) 98878-5978                                       =======
=====               Instagram: @lucasoliveirawd                                                =======
=====               E-mail: lukasforever02@gmail.com                                           =======
=====                                                                                          =======
=====================================================================================================*/

/*Cabeçalho do site*/

#header1{
    background: var(--color-primary);
    height: 4rem;
    position: static !important;
    z-index: 1;
}


.logo{
    height: 80%;
    float: left;
    max-width: 10rem;
    margin: 6px 0;
}

#header1 .social-media{
   display: inline-block;
   height: 100%;
   margin: 0 0 0 35rem; 
}

#header1 .social-media i{
    color: #eee;
    margin: .4rem .5rem;
    font-size: 1.2rem;
    transition: all .4s;
}

#header1 .social-media i:hover{
    color: #fff;
    transform: scale(1.1);
    position: relative;
    
}

#header1 #buscar-no-site{
    float: right;
}

#buscar-no-site input[type="text"]{
    margin: .6rem 0 0;
    float: left;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border: .1rem solid transparent;
    font-size: .8rem;
    padding: .2rem .4rem;
    min-width: 10rem;
}

#buscar-no-site input[type="text"]:focus{
    border: .1rem solid var(--color-secundary);
}

#buscar-no-site .search{
    float: right;
    background-color: var(--color-secundary);
    margin: .6rem 0 0;
    padding:.27rem .35rem;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 5px;
}

header{
    height: 2.5rem;
    background: #ffffff70 url('../img/fundo-tijolinho.jpg');
    background-position: left top;
    background-size: 100% 780%;
    position: sticky;
    top: 0;
    z-index: 30;
}

header .container{
    background: transparent;
}

header .container::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 2.5rem;
    right: 0;
    background: #ffffff70;
    z-index: -1;
}

header nav{
    height: 100%;
    background: transparent;
}

.menu{
    height: 100%;
    display: flex;
    justify-content: center;
    background: transparent;
}

.menu .menu-item{
    max-width: 16rem;
    min-width: 7rem;
    height: 100%;
    text-transform: uppercase;
    text-align: center;
    transition: all .2s;
    background: transparent;
}

.menu-item a{
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    padding: 0 30px;
    align-items: center;
    transition: all .2s;
    background: transparent;
}

.menu .menu-item h3{
    font: normal normal 800 1rem/1.2rem var(--font-secundary);
    color: var(--color-primary);
    transition: all .3s;
    word-spacing: 2px;
}

.menu .menu-item:hover{
    background: #d0d0d590;
}

/*          item-menu active*/
.menu .active{
    background: var(--color-primary) !important;
}

.menu .active h3{
    color: #fff !important;
}


.menu .menu-item:hover h3{
    color: #000;
}

.menu-item{
    position: relative;
}

.menu-item .fa-sort-down{
    color: var(--colo[]);
    margin: 0 0px 5px 4px;
}

.active .fa-sort-down{
    color: #eee;
}

.projetos-div-drop-list li:hover .projetos-drop-list-pt2{
    display: block;
}

.projetos-div-drop-list{
    position: absolute;
    background: var(--color-primary-8);
    text-align: left;
    width: 14rem;
    display: none;
}

.menu-item:hover .projetos-div-drop-list{
    display: block;
}

.projetos-div-drop-list li{
    position: relative;
}

.projetos-div-drop-list a{
    display: block;
    padding: .3rem .5rem;
}

.projetos-div-drop-list h3{
    margin: 2px 0 !important;
    display: inline-block;
    font-size: .8rem !important;
    color: #eee !important;
}

.projetos-div-drop-list a:hover h3{
    text-decoration: underline;
}

.projetos-drop-list-pt2{
    position: absolute;
    background: var(--color-primary-8);
    left: 14rem;
    top: 0;
    display: none;
}

.projetos-div-drop-list li:nth-child(2) .projetos-drop-list-pt2{
    width: 13.5rem;
}

.projetos-div-drop-list li:nth-child(3) .projetos-drop-list-pt2{
    width: 18.8rem;
}

.projetos-div-drop-list .fa-caret-right{
    color: #eee;
    float: right;
    display: inline;
    margin: 3px 0 4px;
}